.main-nav {
  padding: 0 25px;
  margin-bottom: 16px;
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  &__button {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 40px;
    padding: 0 22px;
    &--activate {
      background: #ffffff;
      border: 2px solid #b8ffec;
      border-radius: 6px;
    }
    &:hover {
      background: #ffffff;
      border-radius: 6px;
    }
    p {
      font-family: 'TT Lakes';
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #7e7e82;
    }
  }
}
