@import './blocks/main-nav.scss';
@import './blocks/about-us.scss';
@import './blocks/brands.scss';
@import './blocks/technique.scss';
@import './blocks/price-list.scss';
@import './blocks/footer.scss';

$bgColorMain: #f8f8f8;
$bgColorAside: #fff;

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'TT Lakes', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
p {
  margin: 0;
}
.button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  &__read-more {
    display: flex;
    align-items: center;
    margin-top: 14px;
    gap: 10px;
    background: none;
    border: none;

    p {
      font-family: 'TT Lakes';
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
    }
  }
  &--search {
    border-radius: 50%;
    background: #ff3e79 url(../img/search.svg) no-repeat 50% 50%;
  }
  &--phone {
    border-radius: 50%;
    background: #ff3e79 url(../img/phone.svg) no-repeat 50% 50%;
  }
  &--chat {
    border-radius: 50%;
    background: #ff3e79 url(../img/chat.svg) no-repeat 50% 50%;
  }
  &--profile {
    border-radius: 50%;
    background: #ff3e79 url(../img/profile.svg) no-repeat 50% 50%;
  }
}

.section-header {
  padding: 16px 0;
  margin-bottom: 24px;
  background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);

  p {
    text-transform: uppercase;

    color: #7e7e82;
  }
}

.language {
  display: flex;
  padding: 0;
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;

  letter-spacing: -0.2px;
  &__button.active > a {
    color: #7e7e82;
  }
  &__button > a {
    color: #1b1c21;
    margin-right: 3.5px;
    text-decoration: none;
  }
}
.messenger {
  display: flex;
  padding: 0;
  li .button {
    margin-right: 14px;
  }
}

.link-list {
  padding: 0;
  margin-bottom: auto;
  &__item {
    position: relative;
  }
  &__item > a {
    display: block;
    padding: 14px;
    padding-left: 28px;
    text-decoration: none;
  }
  &__item.active > a {
    color: #7e7e82;
  }
  &__item.active:before {
    position: absolute;
    top: 20%;
    content: '';
    width: 4px;
    height: 60%;
    border-radius: 2px;
    background-color: #41f6d7;
  }
}

/*-----------------------------------------------------------------------*/

.main {
  width: 100%;
  min-height: 100vh;
  background: $bgColorMain;
  padding: 25px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    padding-bottom: 10px;

    & > h1 {
      font-size: 28px;
      line-height: 40px;
      margin: 0;
      padding: 0;
    }
  }
  &__buttons {
    display: flex;
  }
  &__button {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 190px;
    height: 40px;
    background: none;
    border: none;
  }
  &__button > span {
    margin: auto;
    margin-right: 10px;
  }
}
