$bgColorMain: #f8f8f8;
$bgColorAside: #fff;

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'TT Lakes', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
p {
  margin: 0;
}
.button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  &--search {
    border-radius: 50%;
    background: #ff3e79 url(../img/search.svg) no-repeat 50% 50%;
  }
  &--phone {
    border-radius: 50%;
    background: #ff3e79 url(../img/phone.svg) no-repeat 50% 50%;
  }
  &--chat {
    border-radius: 50%;
    background: #ff3e79 url(../img/chat.svg) no-repeat 50% 50%;
  }
  &--profile {
    border-radius: 50%;
    background: #ff3e79 url(../img/profile.svg) no-repeat 50% 50%;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  width: 360px;
  min-height: 100vh;
  height: 100%;
  background: $bgColorAside;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
  }
  &__footer {
    margin-top: auto;
    padding: 0 19px;
  }
  &__number > span {
    font-style: bold;
    font-size: 34px;
    line-height: 38px;

    letter-spacing: -0.6px;
  }
}
.language {
  display: flex;
  padding: 0;
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;

  letter-spacing: -0.2px;
  &__button.active > a {
    color: #7e7e82;
  }
  &__button > a {
    color: #1b1c21;
    margin-right: 3.5px;
    text-decoration: none;
  }
}
.messenger {
  display: flex;
  padding: 0;
  li .button {
    margin-right: 14px;
  }
}

.link-list {
  padding: 0;
  margin-bottom: auto;
  &__item {
    position: relative;
  }
  &__item > a {
    display: block;
    padding: 14px;
    padding-left: 28px;
    text-decoration: none;
  }
  &__item.active > a {
    color: #7e7e82;
  }
  &__item.active:before {
    position: absolute;
    top: 20%;
    content: '';
    width: 4px;
    height: 60%;
    border-radius: 2px;
    background-color: #41f6d7;
  }
}

/*-----------------------------------------------------------------------*/

.main {
  width: 100%;
  min-height: 100vh;
  background: $bgColorMain;
  padding: 25px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    padding-bottom: 10px;

    & > h1 {
      font-size: 28px;
      line-height: 40px;
      margin: 0;
      padding: 0;
    }
  }
  &__buttons {
    display: flex;
  }
  &__button {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 190px;
    height: 40px;
    background: none;
    border: none;
  }
  &__button > span {
    margin: auto;
    margin-right: 10px;
  }
}

.main-nav {
  padding: 0 25px;
  margin-bottom: 16px;
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
  }
  &__button {
    display: flex;
    align-items: center;
    text-decoration: none;

    width: 19%;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: auto;
    padding-left: 1%;
    border: none;

    &.activate {
      border: 2px solid #b8ffec;
      border-radius: 6px;
    }
    p {
      margin: 0;
      color: #7e7e82;
    }
  }
}
.about-us {
  padding: 0 25px;
  display: flex;
  &__text {
    margin-right: 36px;
  }
  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;

    p {
      font-style: bold;
    }
  }
  &__img {
    width: 50%;
    height: auto;
    border-radius: 6px;
  }
}

.brands {
  padding: 0 25px;
  margin-top: 16px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 240px;
    height: 72px;
    padding: 16px;
    margin-bottom: 16px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
  }
  &__link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.section {
  &__header {
    padding: 16px 0;
    margin-bottom: 24px;
    background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);

    p {
      text-transform: uppercase;

      color: #7e7e82;
    }
  }
}
.technique {
  padding: 0 25px;
  &__list {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
  }
  &__item {
    margin-right: 32px;

    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
  }
  &__link {
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 160px;
    padding: 16px;
    text-decoration: none;

    p {
      margin: 0;
    }
    img {
      margin-top: auto;
    }
  }
}
.price-list {
  &__offer {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.2px;

    color: #1b1c21;
    margin-top: 32px;
    margin-bottom: 16px;
    width: 425px;
    max-width: 100%;
    &--link {
      font-family: 'TT Lakes';
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-decoration: none;
      color: #1b1c21;
      &::before {
        display: block;
        background: url('../img/goside.svg') no-repeat 50% 50%;
        width: 1000px;
        height: 10000px;
      }
    }
  }
  &__table {
    display: grid;
    &--link {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      width: 120px;
      height: 32px;
      padding: 4px 12px;
      background: #ff3e79;
      border-radius: 20px;
      p {
        position: relative;
        font-family: 'TT Lakes';
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.15px;
        text-transform: uppercase;
        color: #fff;
      }
    }
    &--row {
      font-family: 'TT Lakes';
      font-size: 14px;
      line-height: 18px;

      letter-spacing: 0.2px;

      color: #1b1c21;

      display: grid;
      padding: 25px 0;
      grid-template-columns:
        minmax(372px, 50%)
        minmax(74px, 25%)
        minmax(85px, 180px)
        120px;
    }
    tbody {
      padding: 0 25px;
      background: #ffffff;
      border-radius: 6px;
    }
    thead {
      padding: 0 25px;
    }
    &--content {
      text-align: start;
      color: #7e7e82;
    }
  }
}
