@import './blocks/language.scss';
@import './blocks/messenger.scss';
@import './blocks/link-list.scss';
@import './blocks/button.scss';
@import './blocks/header.scss';
@import './blocks/main-nav.scss';
@import './blocks/about-us.scss';
@import './blocks/brands.scss';
@import './blocks/technique.scss';
@import './blocks/price-list.scss';
@import './blocks/footer.scss';

@import '../fonts/fonts.css';

$bgColorMain: #f8f8f8;
$bgColorAside: #fff;

* {
  font-family: 'TT Lakes', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
p {
  margin: 0;
}

/*  containers  */

.main-container {
  background: $bgColorMain;
  padding: 0 25px;
}
.aside {
  &__container {
    min-width: 306px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }
  &__footer {
    padding-left: 20px;
    &--email {
      font-family: 'TT Lakes';
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
      margin-bottom: 12px;
    }
    &--number {
      font-family: 'TT Lakes';
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.6px;
      color: #1b1c21;
      margin-bottom: 40px;
    }
  }
}
